<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Code FREAK // Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end" style="padding-right: 10px;">
        <div class="navbar-item">
          <a class="navbar-link" href="https://github.com/codefreak/codefreak" target="_blank">Fork on GitHub</a>
        </div>
      </div>
    </div>
  </nav>
</header>

